Host bitbucket.org
  User git
  IdentityFile ~/.ssh/mitchell@canopusnet.com

Host canopus-bastion
    LocalForward 1443 mercury2-ipmi.canopusnet.dev:443
    LocalForward 3000 mercury2.canopusnet.dev:3000

# Canopus SSH Bastion for Internal (not tailscale) Servers
Host wedge-5
Host canopus-bastion
    HostName wedge-5
    User canopus

# UNSW - Canopus Joint Servers
Host dumble
    HostName dumble.sdn.unsw.edu.au
    User canopus
    ProxyJump canopus-bastion

# Canopus Standard Ubuntu Internal Servers
Host venus5 mercury2 mercury3
    HostName %h.canopusnet.dev
    User canopus
    ProxyJump canopus-bastion

# Canopus OS Internal Servers
Host ares1 ares3
    HostName %h.canopusnet.dev
    User operator
    IdentityFile ~/.ssh/rescue@canopus-os
    ProxyJump canopus-bastion

Host ceres
    HostName %h.canopusnet.dev
    User operator
    ProxyJump canopus-bastion

Host unsw-gcp-test-vm
    HostName gce-instance-n-snflow-unsw-gcp-test-analytics-vm-0
    User canopus
