# Canopus Standard Ubuntu Internal Servers
Host ares3
    User mitch

Host mercury2 ares7 ares3
    User canopus
    ProxyJump canopus-bastion

    CanonicalizeHostname yes
    CanonicalDomains canopusnet.dev

Host network-services-6wind
    User canopus

Host europa2
    User canopus
    HostName 10.100.1.140
    ProxyJump venus5
