# Canopus Standard Ubuntu Internal Servers
Host mercury2 ares7
    User canopus
    ProxyJump canopus-bastion

    CanonicalizeHostname yes
    CanonicalDomains canopusnet.dev

Host ares3
    User mitch
    ProxyJump canopus-bastion

    CanonicalizeHostname yes
    CanonicalDomains canopusnet.dev

Host europa2
    User canopus
#    HostName 10.5.0.158
    HostName 10.100.1.146
    ProxyJump venus5
