Host unsw-library-analytics-srv01 unsw-omb-probe-srv01
    User operator
    LocalForward 6006 localhost:6006

    CanonicalizeHostname yes
    CanonicalDomains canopusnet.dev

Host unsw-fs-switch-library unsw-library-ipmi
    User admin
    HostKeyAlgorithms +ssh-rsa,ssh-dss
    PreferredAuthentications password

    CanonicalizeHostname yes
    CanonicalDomains canopusnet.dev
